html, body
{
    height: 100%;
}

body
{ 
	background: url(img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin: 0;
}

header
{
	position: fixed;

	padding: 10px 10000px 10px 10px;

	width: 100%;
	height: 60px;

	margin-top: 10px;
}

header div
{
    width: calc(50% - 55px);
}

header a, .nav_left, .nav_right
{
	position: relative;
	display: inline-block;
}

header a
{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 5px 40px 5px 0;
}

header .nav_left { text-align: right; }
header .nav_right { text-align: left; }

header .logo
{
	vertical-align: middle;
}

header .logo img { height: 60px;}

content
{
	display: inline-block;

	width: 100%;
	height: calc(100% - 70px);

	margin-top: 70px;
	margin-bottom: -5px;
}

content .bg_video{
	position: fixed;
	z-index: -1000;

	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;

	top: 25%;
	left: 25%;
	transform: translate(-25%,-25%);
}

content .index_logo
{
	position: relative;

	display: block;
	margin: auto;

	top: 50%;
    transform: translateY(-50%);

	width: 50vmax;
}